[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
  branch = galactic
[submodule "src/ros2_shared"]
	path = src/ros2_shared
	url = https://github.com/ptrmu/ros2_shared.git
